body{
  background-image: url("../images/lorempixel.abstract.8.jpeg");
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  }
h6{
  size: 100px, 100px, 100px, 100px;
  position: absolute;
  border-color: red;
}